@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100 text-gray-900;
  font-family: 'Inter', sans-serif;
}

a {
  @apply text-blue-600 hover:underline;
}

.points-table-wrapper {
  background-image: url('https://documents.iplt20.com/ipl/assets/images/rounded_spiral-title-bg.png');
  padding: 20px 0 12px 0;
  background-size: 100%;
}
